supertreebase\.komodoproject
*_Inline*
*.tnt
*.run
*.class
*.log
data/*/*.txt
*.dat
*.png
data/treebase/tntscript.runall
test
data/taxdmp/tmp/id2names
data/taxdmp/tmp/names2id
data/taxdmp/tmp/nodes
data/taxdmp/tmp/parents
data/treebase/megatable*
